In [3]:
school = {
    "ClassA": {
        "Student1": {
            "student_id": 1,
            "name": "Alice",
            "age": 20,
            "salary": 2000,
            "full_address": "123 Street, City, Country",
            "subjects": ["Math", "Java", "Python"]
        },
        "Student2": {
            "student_id": 2,
            "name": "Bob",
            "age": 21,
            "salary": 2100,
            "full_address": "456 Avenue, City, Country",
            "subjects": ["Math", "Python"]
        }
    },
    "ClassB": {
        "Student3": {
            "student_id": 3,
            "name": "Charlie",
            "age": 22,
            "salary": 2200,
            "full_address": "789 Boulevard, City, Country",
            "subjects": ["Java", "Python"]
        },
        "Student4": {
            "student_id": 4,
            "name": "David",
            "age": 23,
            "salary": 2300,
            "full_address": "101 Street, City, Country",
            "subjects": ["Math", "Java"]
        }
    }
}

In [4]:
# Define the new student
new_student = {
    "student_id": 5,
    "name": "Eve",
    "age": 24,
    "salary": 2400,
    "full_address": "202 Street, City, Country",
    "subjects": ["Math", "Java", "Python"]
}

# Add the new student to ClassB
school["ClassB"]["Student5"] = new_student

In [5]:
for class_name, students in school.items():
    print(f"Class: {class_name}")
    for student_name, student_info in students.items():
        print(f"\tStudent Name: {student_name}")
        for key, value in student_info.items():
            print(f"\t\t{key}: {value}")
    print("\n")  # print a newline for better readability

Class: ClassA
	Student Name: Student1
		student_id: 1
		name: Alice
		age: 20
		salary: 2000
		full_address: 123 Street, City, Country
		subjects: ['Math', 'Java', 'Python']
	Student Name: Student2
		student_id: 2
		name: Bob
		age: 21
		salary: 2100
		full_address: 456 Avenue, City, Country
		subjects: ['Math', 'Python']


Class: ClassB
	Student Name: Student3
		student_id: 3
		name: Charlie
		age: 22
		salary: 2200
		full_address: 789 Boulevard, City, Country
		subjects: ['Java', 'Python']
	Student Name: Student4
		student_id: 4
		name: David
		age: 23
		salary: 2300
		full_address: 101 Street, City, Country
		subjects: ['Math', 'Java']
	Student Name: Student5
		student_id: 5
		name: Eve
		age: 24
		salary: 2400
		full_address: 202 Street, City, Country
		subjects: ['Math', 'Java', 'Python']

In [19]:
2 + 3 * 5.

17.0